@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");
.conten {
  background-color: #adb5bd;
  height: 160vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten .w {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 560px;
  width: 400px;
  border-radius: 50px;
}
.conten .mg {
  position: absolute;
  top: 5%;
}
.conten .mg img {
  width: 195px;
  height: 120px;
}
.conten .w .image {
  width: 320px;
  border-radius: 23px;
  height: 460px;
  animation-name: uk-fade;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}
.conten .bt {
  position: absolute;
  bottom: 80px;
  font-family: "Kantumruy Pro", sans-serif;
  border-radius: 14px;
  border: #fff solid 1px;
}
.conten .bt .btn-lg {
  background-color: rgb(255, 255, 255);
}
.conten .bt .btn-primary {
  color: black;
}
.conten .bt .btn-primary {
  background-color: #fff;
  border: #fff;
}
